* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

p {
    word-wrap: break-word;
    overflow-wrap: break-word;
}


.body-container {
    background-color: #EDEDED;
    min-height: 100vh;
    width: 100%;
}

