/* Estilos para el Footer */
.footer-container {
  background-color: #333333;
  padding: 2rem;
  width: 100%;
  color: white;
  font-family: monospace;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  text-align: center;
}


.footer-content {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
}


.footer-row {
  display: flex;
  justify-content: space-between; 
  gap: 2rem;
  font-size: 0.95rem;
  margin-top: 1rem;
}


.footer-row p {
  margin: 0;
  color: #EDEDED; 
}


@media (max-width: 768px) {
  .footer-row {
    flex-direction: column; 
    gap: 1rem;
  }
}
