* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

p {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/*Baner de contenido*/
.presentation-container{
    background-image: url('/css_intento2.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    min-height: 50vh;
    max-width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.presentation-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff44;
    z-index: 1;
}

.presentation-title {
    position: relative;
    z-index: 2;
}

.title{
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0.2rem 0.2rem 0px #00000099;
}

/*Seccion de contenido*/
.info-content{
    max-width: 50rem;
    margin: 2rem auto;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.6;
}

.info-content h2 {
    color: #2A5091;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

.info__steps{
    display: inline-block;
    margin: auto;
    color: #000;
}

/*reglamento*/
.rule-content{
    background-color: #2A5091;
    color: #fff;
    min-height: 50vh;
    padding: 2rem 1rem;
    display: flex;
    display: inline-block;
    width: 100%;
    place-items: center;
    font-size: 1rem;
}

.rule__title {
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
}

.rule-desing{
    width: 100%;
    min-width: 50rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.rule-content p{
    text-align: justify;
    text-align-last: center;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 45rem;
}

.rule__steps{
    text-align: left;
    display: inline-block;
    margin: 0 auto;
    padding-left: 1.5rem;
}

.rule__steps li{
    margin-bottom: 1.5rem;
    line-height: 1.6;
    text-align: justify;
    max-width: 45rem;
}

/*Opciones de servicio social*/
.information-option{
    background-color: #EDEDED;
    width: 100%;
    min-height: 50vh;
}