/* General Reset */
* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

p {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Banner de contenido */
.presentation-container {
    background-image: url('/css_intento2.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    min-height: 50vh;
    max-width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.presentation-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff44;
    z-index: 1;
}

.presentation-title {
    position: relative;
    z-index: 2;
}

.title {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0.2rem 0.2rem 0px #00000099;
}

/* Sección de contenido */
.info-content {
    max-width: 50rem;
    margin: 2rem auto;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.6;
}

.info-content h2 {
    color: #2A5091;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

.info__steps {
    display: inline-block;
    margin: auto;
    color: #000;
}

/* Reglamentos */
.rule-content {
    background-color: #2A5091;
    color: #fff;
    min-height: 50vh;
    padding: 2rem 1rem;
    display: flex;
    width: 100%;
    place-items: center;
    font-size: 1rem;
}

.rule__title {
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
}

.rule-desing {
    width: 100%;
    min-width: 50rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.rule-content p {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 45rem;
}

.rule__steps {
    text-align: left;
    display: inline-block;
    margin: 0 auto;
    padding-left: 1.5rem;
}

.rule__steps li {
    margin-bottom: 1.5rem;
    line-height: 1.6;
    text-align: justify;
    max-width: 45rem;
}

/* Opciones de servicio social */
.information-option {
    background-color: #EDEDED;
    width: 100%;
    min-height: 50vh;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Estilo base para el botón */
.expanding-button {
    padding: 0.8rem 2rem;
    background-color: #2a5091; /* color azul */
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: width 0.5s ease;
    width: 150px; /* tamaño inicial */
    text-align: center;
    outline: none;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* El estado expandido */
.expanding-button.active {
    width: 250px;
    height: auto;
}

/* Estilo para cuando se pasa el mouse por encima */
.expanding-button:hover {
    background-color: #1e3c7f;
}

/* Estilo para las opciones cuando el botón está expandido */
.checkbox-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

/* Diseño de cada opción (checkbox y texto) */
.checkbox-container label {
    font-size: 1rem;
    color: #333;
    padding: 0.6rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 300px;
    margin: auto;
    text-align: left;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}

/* Cambiar el color de fondo de las opciones al pasar el mouse */
.checkbox-container label:hover {
    background-color: #f0f0f0;
}

/* Estilos para cada opción de color */
.checkbox-container label:nth-child(1) {
    background-color: #e3f2fd;
}

.checkbox-container label:nth-child(2) {
    background-color: #e8f5e9;
}

.checkbox-container label:nth-child(3) {
    background-color: #fff3e0;
}

/* Estilo para el botón de eliminar */
.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para el campo de texto para agregar nueva opción */
.add-option-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    max-width: 350px;
}

/* Estilo para el botón de agregar */
.add-option-button {
    background-color: #2a5091;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 250px;
}

/* Estilo para el botón para ir al formulario */
.submit-button {
    margin-top: 20px;
    padding: 0.8rem 2rem;
    background-color: #14a719;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    max-width: 250px;
    margin: auto;
}

.submit-button:hover {
    background-color: #45a049;
}

