.presentation-title{
    background-image: url('/css_intento2.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    min-height: 50vh;
    max-width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.presentation-title::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff44;
    z-index: 1;
}

/* Estilo base para los botones */
.expanding-button {
  padding: 0.8rem 2rem;
  background-color: #2a5091;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 250px; /* tamaño adecuado */
  margin: 10px auto;
  display: block;
}

.title{
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0.2rem 0.2rem 0px #00000099;
}

/* Botón expandido */
.expanding-button.active {
  width: 250px;
}

/* Estilo para las opciones de cada programa */
.program-details {
  background-color: #e3f2fd;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #2a5091;
}

.information-box{
  background-color: #2a5091;
}